body{
	background: url(../images/bg1.jpg) no-repeat 0px 0px;
	font-family: 'Open Sans', sans-serif;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	height:100%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.element {
  .center-block();
}
.form {
    /*filter:alpha(opacity=50);
    opacity:0.5;*/
    border:1px solid rgba(72,61,139,0.3);
	/*background: DarkSlateBlue;*/
	position: relative;
	width: 30%;
	margin: 3% auto 0 auto;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}
.head-info {
	border:1px solid rgba(0,0,128,0.3);
		opacity:1.0;
  padding: 8px 5px;
  text-align: center;
  font-weight: 3000;
  font-size: 3.5em;
  color: #000080;
  /*background: #B2DFEE;*/ 
  height: 70px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
}
.avtar img {
		opacity:1.0;
  #margin: 2em 0 0;
  width: 60%;
  background: DarkSlateBlue;
  	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
}
.text {
		opacity:1.0;
  font-size:20px;
  color: #fff;
}
input[type="text"] {
		opacity:1.0;
	  width: 100%;
	/*  padding: 1em 2em 1em 3em;*/
	  padding: 1em 1em 1em 1em;
	  font-size: 18px;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	/*  margin-top: 2em; */
	  border-radius:10px 10px 10px 10px;
}
input[type="password"] {
		opacity:1.0;
	  width: 100%;
	/*  padding: 1em 2em 1em 3em; */
	  padding: 1em 1em 1em 1em;
	  font-size: 18px;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  border-radius:10px 10px 10px 10px;
}
.submit {
		opacity:1.0;
	  border-radius:10px 10px 10px 10px;
}
.div1{
		opacity:1.0;
	height:10px;
}