body {
	/*background: url(images/bg1.jpg) no-repeat 0px 0px;*/
	background:#CDC9A5;
	font-family: 'Open Sans', sans-serif;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	height:100%;
	opacity:1.0;
}
.inline {
	display:inline;
}
.sidebar {
  position: fixed;
  right: 0;
}
.submainbody {
  bottom: 0;
  position: fixed;
}
.topleft {
  left: 0;
  padding-left: 0;
  margin-left: 40px;
  position: fixed;
}
.topright {
  right: 0;
  padding-right: 0;
  margin-right: 0;
  position: fixed;
}