body {
	/*background: url(images/bg1.jpg) no-repeat 0px 0px;*/
	background:#CDC9A5;
	font-family: 'Open Sans', sans-serif;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	height:100%;
	opacity:1.0;
}
.inline {
	display:inline;
}