<!DOCTYPE html>
<html lang="en" ng-app="angularAPP">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="styles/login.css" rel='stylesheet' type='text/css' />
    <title>Login In</title>
</head>
<!--SIGN UP-->
<div align="center" ng-hide="typeof($localStorage.user) === 'undefined'">
	<form class="form container-fluid " >
		<div class="form-group h1 head-info" >
			<div >Sign In Form</div>
		</div>
		<p class=" form-group div1">
			</p> 
		<div class="form-group">
		   <img src="images/login.png" class="img-block" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="username" ng-model="userName" placeholder="User Name" required/>
			<p class="div1">
			</p> 
			<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required/>
		</div>

		<div class="form-group">
			<input type="submit" ng-disabled="!userName||!password" value="submit" class="btn btn-primary btn-lg btn-block submit" ng-click="login()"></input>
		</div>
	</form>
</div>